 
 ALTER PROCEDURE [dbo].[EMY_TAHSILAT_RAPORU] @DB NVARCHAR(50), @FIRM NVARCHAR(3), @DONEM NVARCHAR(2) ,
                                      @_BASTAR_VALUE DATETIME,
                                      @_BITTAR_VALUE DATETIME
                                   
 
AS
BEGIN
     DECLARE @QUERY NVARCHAR(MAX)
     DECLARE @QUERY1 NVARCHAR(MAX)
     DECLARE @QUERY2 NVARCHAR(MAX)
     DECLARE @QUERY3 NVARCHAR(MAX)
     DECLARE @QUERY4 NVARCHAR(MAX)
     DECLARE @QUERY5 NVARCHAR(MAX)
     DECLARE @QUERY6 NVARCHAR(MAX)
     DECLARE @QUERY7 NVARCHAR(MAX)
     DECLARE @QUERY8 NVARCHAR(MAX)
     DECLARE @QUERY9 NVARCHAR(MAX)
     DECLARE @QUERY10 NVARCHAR(MAX)
     DECLARE @QUERY11 NVARCHAR(MAX)
     DECLARE @QUERY12 NVARCHAR(MAX)
     DECLARE @QUERY13 NVARCHAR(MAX)
     DECLARE @QUERY14 NVARCHAR(MAX)
     DECLARE @QUERY15 NVARCHAR(MAX)
     DECLARE @QUERY16 NVARCHAR(MAX)
     DECLARE @QUERY17 NVARCHAR(MAX)
     DECLARE @QUERY18 NVARCHAR(MAX)
     DECLARE @QUERY19 NVARCHAR(MAX)
     DECLARE @QUERY20 NVARCHAR(MAX)

     DECLARE @PARAMETRELER NVARCHAR(MAX)

     SET @PARAMETRELER = N'@_BASTAR DATETIME,@_BITTAR DATETIME';

     SET @QUERY1 = ''
     SET @QUERY2 = ''
     SET @QUERY3 = ''
     SET @QUERY4 = ''
     SET @QUERY5 = ''
     SET @QUERY6 = ''
     SET @QUERY7 = ''
     SET @QUERY8 = ''
     SET @QUERY9 = ''
     SET @QUERY10 = ''
     SET @QUERY11 = ''
     SET @QUERY12 = ''
     SET @QUERY13 = ''
     SET @QUERY14 = ''
     SET @QUERY15 = ''
     SET @QUERY16 = ''
     SET @QUERY17 = ''
     SET @QUERY18 = ''
     SET @QUERY19 = ''
     SET @QUERY20 = ''

     SET @QUERY1 = '
SELECT 
Referans = CLFLINE.LOGICALREF ,
[Tarih]      = CONVERT(VARCHAR,CLFLINE.DATE_,104),
[BelgeNo]   = CLFLINE.TRANNO,
[CariKod]   = CLCARD.CODE,
[CariUnvan] = CLCARD.DEFINITION_,
[SaticiKodu]= ISNULL(SLSMAN.CODE,''YOK''),
[SaticiAdi] = ISNULL(SLSMAN.DEFINITION_,''YOK''),
[PlakaNo]   = CLFLINE.CYPHCODE,
[PlakaAciklama] = (SELECT DEFINITION_ FROM {DATABASE}LG_{FIRMA}_SPECODES SPC WHERE  SPC.SPECODE=CLFLINE.CYPHCODE AND SPC.CODETYPE=2 AND SPC.SPECODETYPE=44),
[Aciklama]   = CLFLINE.LINEEXP,
[NakitTahsilat] =isnull(CASE WHEN CLFLINE.TRCODE=1 AND CLFLINE.MODULENR=10 THEN ISNULL(CLFLINE.TRNET,'''') END ,0),
[KrediTahsilat] =isnull(CASE WHEN CLFLINE.TRCODE=70 AND CLFLINE.MODULENR=5 THEN ISNULL(CLFLINE.TRNET,'''') END ,0)

FROM {DATABASE}LG_{FIRMA}_{DONEM}_CLFLINE CLFLINE
INNER JOIN {DATABASE}LG_{FIRMA}_CLCARD CLCARD WITH (NOLOCK) ON CLCARD.LOGICALREF=CLFLINE.CLIENTREF
LEFT JOIN LG_SLSMAN SLSMAN WITH (NOLOCK) ON SLSMAN.LOGICALREF=CLFLINE.SALESMANREF
--LEFT JOIN {DATABASE}LG_{FIRMA}_SPECODES SPEC WITH (NOLOCK) ON SPEC.SPECODE=CLFLINE.CYPHCODE AND CODETYPE=2 AND SPECODETYPE=44

WHERE CLFLINE.MODULENR IN (5,10) AND CLFLINE.TRCODE IN (70,1) AND CLFLINE.CANCELLED=0
AND (CLFLINE.DATE_  BETWEEN @_BASTAR AND @_BITTAR)'

 SET @QUERY = @QUERY1 + @QUERY2 + @QUERY3 + @QUERY4 + @QUERY5 + @QUERY6 + @QUERY7 + @QUERY8 + @QUERY9 + @QUERY10 + @QUERY11 + @QUERY12 + @QUERY13 + @QUERY14 + @QUERY15 + @QUERY16 + @QUERY17 + @QUERY18 + @QUERY19 + @QUERY20
      SET @QUERY = REPLACE(REPLACE(REPLACE(@QUERY, '{DATABASE}',@DB), '{FIRMA}',@FIRM), '{DONEM}', @DONEM)

     EXECUTE sp_executesql @QUERY, @PARAMETRELER, @_BASTAR = @_BASTAR_VALUE, @_BITTAR = @_BITTAR_VALUE;
END
