 
  -- EXEC EMY_RAPOR_SATINALMA_ANALIZ '','120','01','20200101','20201001','%%','%%' ,' AND  CLCARD.CODE LIKE ''%320%'' '
ALTER PROCEDURE [dbo].[EMY_RAPOR_SATINALMA_ANALIZ] @DB NVARCHAR(50), @FIRM NVARCHAR(3), @DONEM NVARCHAR(2) ,
                                      @_BASTAR_VALUE DATETIME,
                                      @_BITTAR_VALUE DATETIME,
                                      @_CARIKODU_VALUE NVARCHAR(50),
                                      @_MLZKODU_VALUE NVARCHAR(50),
                                      @KULLANICI_KOSUL_VALUE NVARCHAR(500) 
 
AS
BEGIN
     DECLARE @QUERY NVARCHAR(MAX)
     DECLARE @QUERY1 NVARCHAR(MAX)
     DECLARE @QUERY2 NVARCHAR(MAX)
     DECLARE @QUERY3 NVARCHAR(MAX)
     DECLARE @QUERY4 NVARCHAR(MAX)
     DECLARE @QUERY5 NVARCHAR(MAX)
     DECLARE @QUERY6 NVARCHAR(MAX)
     DECLARE @QUERY7 NVARCHAR(MAX)
     DECLARE @QUERY8 NVARCHAR(MAX)
     DECLARE @QUERY9 NVARCHAR(MAX)
     DECLARE @QUERY10 NVARCHAR(MAX)
     DECLARE @QUERY11 NVARCHAR(MAX)
     DECLARE @QUERY12 NVARCHAR(MAX)
     DECLARE @QUERY13 NVARCHAR(MAX)
     DECLARE @QUERY14 NVARCHAR(MAX)
     DECLARE @QUERY15 NVARCHAR(MAX)
     DECLARE @QUERY16 NVARCHAR(MAX)
     DECLARE @QUERY17 NVARCHAR(MAX)
     DECLARE @QUERY18 NVARCHAR(MAX)
     DECLARE @QUERY19 NVARCHAR(MAX)
     DECLARE @QUERY20 NVARCHAR(MAX)

     DECLARE @PARAMETRELER NVARCHAR(MAX)

     SET @PARAMETRELER = N'@_BASTAR DATETIME,@_BITTAR DATETIME,@_CARIKODU NVARCHAR(50),@_MLZKODU NVARCHAR(50) ';

     SET @QUERY1 = ''
     SET @QUERY2 = ''
     SET @QUERY3 = ''
     SET @QUERY4 = ''
     SET @QUERY5 = ''
     SET @QUERY6 = ''
     SET @QUERY7 = ''
     SET @QUERY8 = ''
     SET @QUERY9 = ''
     SET @QUERY10 = ''
     SET @QUERY11 = ''
     SET @QUERY12 = ''
     SET @QUERY13 = ''
     SET @QUERY14 = ''
     SET @QUERY15 = ''
     SET @QUERY16 = ''
     SET @QUERY17 = ''
     SET @QUERY18 = ''
     SET @QUERY19 = ''
     SET @QUERY20 = ''

     SET @QUERY1 ='(SELECT   STLINE.LOGICALREF AS Referans,  CASE WHEN ITEMS.ACTIVE = 0 THEN ''Kullanımda'' ELSE ''Kullanım Dışı'' END AS [CariStatusu], 
                      CLCARD.CODE AS [CariKodu], CLCARD.DEFINITION_ AS [CariUnvani], 
                      CLCARD.SPECODE AS [CariOzelKodu], CLCARD.SPECODE5 AS [CariOzelKodu5], 
                      CLCARD.CYPHCODE AS [CariYetkiKodu], CLCARD.TAXOFFICE AS [VergiDairesi], 
                      CLCARD.TAXNR AS [VergiNo], ITEMS.CODE AS [MalzemeKodu], ITEMS.NAME AS [MalzemeAciklamasi], 
                      ITEMS.SPECODE AS [MalzemeOzelKodu], ITEMS.SPECODE2 AS [MalzemeOzelKod2], 
                      ITEMS.SPECODE3 AS [MalzemeOzelKod3], ITEMS.SPECODE4 AS [MalzemeOzelKod4], 
                      ITEMS.SPECODE5 AS [MalzemeOzelKod5], ITEMS.Stgrpcode AS [MalzemeGrupKodu], 
                      ITEMS.cyphcode AS [MalzemeYetkiKodu], CASE STLINE.TRCODE WHEN 2 THEN ''Perakande Satış İade İrsaliyesi'' WHEN 3 THEN ''Toptan Satış İade İrsaliyesi'' WHEN 7 THEN ''Perakande Satış  İrsaliyesi'' WHEN 8 THEN ''Toptan Satış İrsaliyesi''
					  else ''Diğer'' END  AS [FisTuru], STLINE.DATE_ AS [FisTarihi], 
                      STFICHE.FICHENO AS [FisNo], 
                      CASE WHEN INVOICE.ACCOUNTED = 1 THEN ''Muhasebeleşmiş'' ELSE ''Muhasebeleştirilmemiş'' END AS [MuhasebeDurumu], 
                      CASE WHEN STFICHE.BILLED = 1 THEN ''Faturalanmış'' ELSE ''Faturalanmamış'' END AS [FaturaDurumu], 
                      STFICHE.INVNO AS [FaturaNo],CASE  MONTH(STLINE.DATE_) WHEN 1 THEN ''01.OCAK'' WHEN 2 THEN ''02.ŞUBAT'' WHEN 3 THEN ''03.MART'' WHEN 4 THEN ''04.NİSAN'' WHEN 5 THEN ''05.MAYIS'' WHEN 6 THEN ''06.HAZİRAN''
					  WHEN 7 THEN ''07.TEMMUZ'' WHEN 8 THEN ''08.AĞUSTOS'' WHEN 9 THEN ''09.EYLÜL'' WHEN 10 THEN ''10.EKİM'' WHEN 11 THEN ''11.KASIM'' ELSE ''12.ARALIK'' END AS  [FisAyi],	  CASE WHEN STLINE.TRCODE IN(6) THEN (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1)*-1 ELSE (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1) END   AS Miktar, 
                      STLINE.VAT AS [Kdv], CASE WHEN STLINE.TRCODE IN(6) THEN (STLINE.VATMATRAH + STLINE.DIFFPRICE)*-1 ELSE STLINE.VATMATRAH + STLINE.DIFFPRICE END  AS [KdvHaric],CASE WHEN STLINE.TRCODE IN(6) THEN STLINE.VATAMNT*-1 ELSE STLINE.VATAMNT END  AS [KdvTutari], 
                      ''Malzeme'' AS [SatirTipi],ISNULL((SELECT CODE FROM {DATABASE}LG_SLSMAN WHERE LOGICALREF=STLINE.SALESMANREF),'''') AS [SaticiKodu],ISNULL((SELECT DEFINITION_  FROM {DATABASE}LG_SLSMAN WHERE LOGICALREF=STLINE.SALESMANREF),'''') AS [SaticiAdi]
						,CASE WHEN STLINE.TRCODE IN(6) THEN (STLINE.OUTCOST * (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1)) * -1 ELSE (STLINE.OUTCOST * (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1)) END AS Maliyet,
						STLINE.DIFFPRICE*-1 AS [SatisFiyatFarki],
						CASE WHEN STLINE.TRCODE IN(6) 
							THEN ((STLINE.VATMATRAH - STLINE.OUTCOST * (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1)) + STLINE.DIFFPRICE) * -1
                      ELSE ((STLINE.VATMATRAH - STLINE.OUTCOST * (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1)) + STLINE.DIFFPRICE) END AS Kar, 
                      YEAR(STLINE.DATE_) AS [FisYili], CLCARD.CITY AS [Sehir]
FROM         {DATABASE}LG_{FIRMA}_{DONEM}_STLINE STLINE WITH(NOLOCK) LEFT OUTER JOIN
              {DATABASE}LG_{FIRMA}_ITEMS ITEMS WITH(NOLOCK) ON STLINE.STOCKREF = ITEMS.LOGICALREF INNER JOIN
              {DATABASE}LG_{FIRMA}_CLCARD CLCARD WITH(NOLOCK) ON STLINE.CLIENTREF = CLCARD.LOGICALREF INNER JOIN
              {DATABASE}LG_{FIRMA}_{DONEM}_STFICHE STFICHE WITH(NOLOCK) ON STLINE.STFICHEREF = STFICHE.LOGICALREF LEFT OUTER JOIN
              {DATABASE}LG_{FIRMA}_{DONEM}_INVOICE INVOICE WITH(NOLOCK) ON STFICHE.INVOICEREF = INVOICE.LOGICALREF 
            WHERE     (STLINE.LINETYPE = 0) AND (STLINE.CANCELLED = 0) and STLINE.TRCODE IN (1,6)
AND (@_CARIKODU='''' OR CLCARD.CODE LIKE REPLACE(@_CARIKODU,''*'',''%'')) AND (@_MLZKODU='''' OR ITEMS.CODE LIKE REPLACE(@_MLZKODU,''*'',''%'')) 
AND (STLINE.DATE_ BETWEEN @_BASTAR AND @_BITTAR)  {KULLANICI_KOSUL} )   
UNION ALL
(SELECT    STLINE.LOGICALREF AS Referans,   CASE WHEN SRVCARD.ACTIVE = 0 THEN ''Kullanımda'' ELSE ''Kullanım Dışı'' END AS [Cari Statusü], 
                        CLCARD.CODE AS [CariKodu], CLCARD.DEFINITION_ AS [CariUnvani], 
                        CLCARD.SPECODE AS [CariOzelKodu], CLCARD.SPECODE5 AS [CariOzelKodu5], 
                        CLCARD.CYPHCODE AS [CariYetkiKodu], CLCARD.TAXOFFICE AS [VergiDairesi], CLCARD.TAXNR AS [VergiNo], 
                        SRVCARD.CODE AS [MalzemeKodu], SRVCARD.DEFINITION_ AS [MalzemeAciklamasi], SRVCARD.SPECODE AS [MalzemeOzelKodu], 
                        '''' AS [MalzemeOzelKod2], '''' AS [MalzemeOzelKod3], '''' AS [MalzemeOzelKod4], '''' AS [MalzemeOzelKod5], '''' AS [MalzemeGrupKodu], 
                        SRVCARD.CYPHCODE AS [MalzemeYetkiKodu], CASE STLINE.TRCODE WHEN 2 THEN ''Perakande Satış İade İrsaliyesi'' WHEN 3 THEN ''Toptan Satış İade İrsaliyesi'' WHEN 7 THEN ''Perakande Satış  İrsaliyesi'' WHEN 8 THEN ''Toptan Satış İrsaliyesi''  WHEN 9 THEN ''Verilen Hizmet Faturası''  else ''Diğer'' end  AS [FisTuru], STLINE.DATE_ AS [FisTarihi], '''' AS [FisNo], 
                        CASE WHEN INVOICE.ACCOUNTED = 1 THEN ''Muhasebeleşmiş'' ELSE ''Muhasebeleştirilmemiş'' END AS [MuhasebeDurumu], 
                        '''' AS [FaturaDurumu], INVOICE.FICHENO AS [FaturaNo], CASE  MONTH(STLINE.DATE_) WHEN 1 THEN ''01.OCAK'' WHEN 2 THEN ''02.ŞUBAT'' WHEN 3 THEN ''03.MART'' WHEN 4 THEN ''04.NİSAN'' WHEN 5 THEN ''05.MAYIS'' WHEN 6 THEN ''06.HAZİRAN''
					  WHEN 7 THEN ''07.TEMMUZ'' WHEN 8 THEN ''08.AĞUSTOS'' WHEN 9 THEN ''09.EYLÜL'' WHEN 10 THEN ''10.EKİM'' WHEN 11 THEN ''11.KASIM'' ELSE ''12.ARALIK'' END AS [FisAyi], 
                        (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1) AS Miktar, STLINE.VAT AS Kdv, STLINE.VATMATRAH AS [KdvHaric], 
                        STLINE.VATAMNT AS [KdvTutari], ''Hizmet'' AS [SatirTipi],ISNULL((SELECT CODE FROM {DATABASE}LG_SLSMAN WHERE LOGICALREF=STLINE.SALESMANREF),'''') AS [SaticiKodu],ISNULL((SELECT DEFINITION_  FROM {DATABASE}LG_SLSMAN WHERE LOGICALREF=STLINE.SALESMANREF),'''') AS [SaticiAdi]
 ,(STLINE.OUTCOST * (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1)) AS Maliyet,STLINE.DIFFPRICE*-1 as [SatisFiyatFarki],
 (STLINE.VATMATRAH - STLINE.OUTCOST * (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1))+STLINE.DIFFPRICE AS Kar ,YEAR(STLINE.DATE_) AS [FisYili],
			CLCARD.CITY AS [Sehir]
 FROM         {DATABASE}LG_{FIRMA}_{DONEM}_STLINE STLINE WITH(NOLOCK)  LEFT OUTER JOIN
            {DATABASE}LG_{FIRMA}_CLCARD CLCARD WITH(NOLOCK) ON STLINE.CLIENTREF = CLCARD.LOGICALREF INNER JOIN
             {DATABASE}LG_{FIRMA}_SRVCARD SRVCARD WITH(NOLOCK) ON STLINE.STOCKREF = SRVCARD.LOGICALREF INNER JOIN
            {DATABASE}LG_{FIRMA}_{DONEM}_INVOICE INVOICE WITH(NOLOCK) ON STLINE.INVOICEREF = INVOICE.LOGICALREF
 WHERE     (STLINE.LINETYPE = 4) AND (STLINE.CANCELLED = 0) And STLINE.TRCODE IN (1,6,4)
AND (@_CARIKODU='''' OR CLCARD.CODE LIKE REPLACE(@_CARIKODU,''*'',''%'')) AND (@_MLZKODU='''' OR SRVCARD.CODE LIKE REPLACE(@_MLZKODU,''*'',''%'')) 
AND (STLINE.DATE_ BETWEEN @_BASTAR AND @_BITTAR) {KULLANICI_KOSUL} )  '

/*
     SET @QUERY2 = SUBSTRING('(SELECT   STLINE.LOGICALREF AS Referans,  CASE WHEN ITEMS.ACTIVE = 0 THEN ''Kullanımda'' ELSE ''Kullanım Dışı'' END AS [CariStatusu], 
                      CLCARD.CODE AS [CariKodu], CLCARD.DEFINITION_ AS [CariUnvani], 
                      CLCARD.SPECODE AS [CariOzelKodu], CLCARD.SPECODE5 AS [CariOzelKodu5], 
                      CLCARD.CYPHCODE AS [CariYetkiKodu], CLCARD.TAXOFFICE AS [VergiDairesi], 
                      CLCARD.TAXNR AS [VergiNo], ITEMS.CODE AS [MalzemeKodu], ITEMS.NAME AS [MalzemeAciklamasi], 
                      ITEMS.SPECODE AS [MalzemeOzelKodu], ITEMS.SPECODE2 AS [MalzemeOzelKod2], 
                      ITEMS.SPECODE3 AS [MalzemeOzelKod3], ITEMS.SPECODE4 AS [MalzemeOzelKod4], 
                      ITEMS.SPECODE5 AS [MalzemeOzelKod5], ITEMS.Stgrpcode AS [MalzemeGrupKodu], 
                      ITEMS.cyphcode AS [MalzemeYetkiKodu], CASE STLINE.TRCODE WHEN 2 THEN ''Perakande Satış İade İrsaliyesi'' WHEN 3 THEN ''Toptan Satış İade İrsaliyesi'' WHEN 7 THEN ''Perakande Satış  İrsaliyesi'' WHEN 8 THEN ''Toptan Satış İrsaliyesi''
					  else ''Diğer'' END  AS [FisTuru], STLINE.DATE_ AS [FisTarihi], 
                      STFICHE.FICHENO AS [FisNo], 
                      CASE WHEN INVOICE.ACCOUNTED = 1 THEN ''Muhasebeleşmiş'' ELSE ''Muhasebeleştirilmemiş'' END AS [MuhasebeDurumu], 
                      CASE WHEN STFICHE.BILLED = 1 THEN ''Faturalanmış'' ELSE ''Faturalanmamış'' END AS [FaturaDurumu], 
                      STFICHE.INVNO AS [FaturaNo],CASE  MONTH(STLINE.DATE_) WHEN 1 THEN ''01.OCAK'' WHEN 2 THEN ''02.ŞUBAT'' WHEN 3 THEN ''03.MART'' WHEN 4 THEN ''04.NİSAN'' WHEN 5 THEN ''05.MAYIS'' WHEN 6 THEN ''06.HAZİRAN''
					  WHEN 7 THEN ''07.TEMMUZ'' WHEN 8 THEN ''08.AĞUSTOS'' WHEN 9 THEN ''09.EYLÜL'' WHEN 10 THEN ''10.EKİM'' WHEN 11 THEN ''11.KASIM'' ELSE ''12.ARALIK'' END AS  [FisAyi],	  CASE WHEN STLINE.TRCODE IN(6) THEN (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1)*-1 ELSE (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1) END   AS Miktar, 
                      STLINE.VAT AS [Kdv], CASE WHEN STLINE.TRCODE IN(6) THEN (STLINE.VATMATRAH + STLINE.DIFFPRICE)*-1 ELSE STLINE.VATMATRAH + STLINE.DIFFPRICE END  AS [KdvHaric],CASE WHEN STLINE.TRCODE IN(6) THEN STLINE.VATAMNT*-1 ELSE STLINE.VATAMNT END  AS [KdvTutari], 
                      ''Malzeme'' AS [SatirTipi],ISNULL((SELECT CODE FROM {DATABASE}LG_SLSMAN WHERE LOGICALREF=STLINE.SALESMANREF),'''') AS [SaticiKodu],ISNULL((SELECT DEFINITION_  FROM {DATABASE}LG_SLSMAN WHERE LOGICALREF=STLINE.SALESMANREF),'''') AS [SaticiAdi]
						,CASE WHEN STLINE.TRCODE IN(6) THEN (STLINE.OUTCOST * (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1)) * -1 ELSE (STLINE.OUTCOST * (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1)) END AS Maliyet,
						STLINE.DIFFPRICE*-1 AS [SatisFiyatFarki],
						CASE WHEN STLINE.TRCODE IN(6) 
							THEN ((STLINE.VATMATRAH - STLINE.OUTCOST * (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1)) + STLINE.DIFFPRICE) * -1
                      ELSE ((STLINE.VATMATRAH - STLINE.OUTCOST * (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1)) + STLINE.DIFFPRICE) END AS Kar, 
                      YEAR(STLINE.DATE_) AS [FisYili], CLCARD.CITY AS [Sehir]
FROM         {DATABASE}LG_{FIRMA}_{DONEM}_STLINE STLINE WITH(NOLOCK) LEFT OUTER JOIN
              {DATABASE}LG_{FIRMA}_ITEMS ITEMS WITH(NOLOCK) ON STLINE.STOCKREF = ITEMS.LOGICALREF INNER JOIN
              {DATABASE}LG_{FIRMA}_CLCARD CLCARD WITH(NOLOCK) ON STLINE.CLIENTREF = CLCARD.LOGICALREF INNER JOIN
              {DATABASE}LG_{FIRMA}_{DONEM}_STFICHE STFICHE WITH(NOLOCK) ON STLINE.STFICHEREF = STFICHE.LOGICALREF LEFT OUTER JOIN
              {DATABASE}LG_{FIRMA}_{DONEM}_INVOICE INVOICE WITH(NOLOCK) ON STFICHE.INVOICEREF = INVOICE.LOGICALREF 
            WHERE     (STLINE.LINETYPE = 0) AND (STLINE.CANCELLED = 0) and STLINE.TRCODE IN (1,6)
AND (@_CARIKODU='''' OR CLCARD.CODE LIKE REPLACE(@_CARIKODU,''*'',''%'')) AND (@_MLZKODU='''' OR ITEMS.CODE LIKE REPLACE(@_MLZKODU,''*'',''%'')) 
AND (STLINE.DATE_ BETWEEN @_BASTAR AND @_BITTAR))
UNION ALL
(SELECT     STLINE.LOGICALREF AS Referans,   CASE WHEN SRVCARD.ACTIVE = 0 THEN ''Kullanımda'' ELSE ''Kullanım Dışı'' END AS [Cari Statusü], 
                        CLCARD.CODE AS [CariKodu], CLCARD.DEFINITION_ AS [CariUnvani], 
                        CLCARD.SPECODE AS [CariOzelKodu], CLCARD.SPECODE5 AS [CariOzelKodu5], 
                        CLCARD.CYPHCODE AS [CariYetkiKodu], CLCARD.TAXOFFICE AS [VergiDairesi], CLCARD.TAXNR AS [VergiNo], 
                        SRVCARD.CODE AS [MalzemeKodu], SRVCARD.DEFINITION_ AS [MalzemeAciklamasi], SRVCARD.SPECODE AS [MalzemeOzelKodu], 
                        '''' AS [MalzemeOzelKod2], '''' AS [MalzemeOzelKod3], '''' AS [MalzemeOzelKod4], '''' AS [MalzemeOzelKod5], '''' AS [MalzemeGrupKodu], 
                        SRVCARD.CYPHCODE AS [MalzemeYetkiKodu], CASE STLINE.TRCODE WHEN 2 THEN ''Perakande Satış İade İrsaliyesi'' WHEN 3 THEN ''Toptan Satış İade İrsaliyesi'' WHEN 7 THEN ''Perakande Satış  İrsaliyesi'' WHEN 8 THEN ''Toptan Satış İrsaliyesi''  WHEN 9 THEN ''Verilen Hizmet Faturası''  else ''Diğer'' end  AS [FisTuru], STLINE.DATE_ AS [FisTarihi], '''' AS [FisNo], 
                        CASE WHEN INVOICE.ACCOUNTED = 1 THEN ''Muhasebeleşmiş'' ELSE ''Muhasebeleştirilmemiş'' END AS [MuhasebeDurumu], 
                        '''' AS [FaturaDurumu], INVOICE.FICHENO AS [FaturaNo], CASE  MONTH(STLINE.DATE_) WHEN 1 THEN ''01.OCAK'' WHEN 2 THEN ''02.ŞUBAT'' WHEN 3 THEN ''03.MART'' WHEN 4 THEN ''04.NİSAN'' WHEN 5 THEN ''05.MAYIS'' WHEN 6 THEN ''06.HAZİRAN''
					  WHEN 7 THEN ''07.TEMMUZ'' WHEN 8 THEN ''08.AĞUSTOS'' WHEN 9 THEN ''09.EYLÜL'' WHEN 10 THEN ''10.EKİM'' WHEN 11 THEN ''11.KASIM'' ELSE ''12.ARALIK'' END AS [FisAyi], 
                        (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1) AS Miktar, STLINE.VAT AS Kdv, STLINE.VATMATRAH AS [KdvHaric], 
                        STLINE.VATAMNT AS [KdvTutari], ''Hizmet'' AS [SatirTipi],ISNULL((SELECT CODE FROM {DATABASE}LG_SLSMAN WHERE LOGICALREF=STLINE.SALESMANREF),'''') AS [SaticiKodu],ISNULL((SELECT DEFINITION_  FROM {DATABASE}LG_SLSMAN WHERE LOGICALREF=STLINE.SALESMANREF),'''') AS [SaticiAdi]
 ,(STLINE.OUTCOST * (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1)) AS Maliyet,STLINE.DIFFPRICE*-1 as [SatisFiyatFarki],
 (STLINE.VATMATRAH - STLINE.OUTCOST * (STLINE.AMOUNT*STLINE.UINFO2/STLINE.UINFO1))+STLINE.DIFFPRICE AS Kar ,YEAR(STLINE.DATE_) AS [FisYili],
			CLCARD.CITY AS [Sehir]
 FROM         {DATABASE}LG_{FIRMA}_{DONEM}_STLINE STLINE WITH(NOLOCK)  LEFT OUTER JOIN
            {DATABASE}LG_{FIRMA}_CLCARD CLCARD WITH(NOLOCK) ON STLINE.CLIENTREF = CLCARD.LOGICALREF INNER JOIN
             {DATABASE}LG_{FIRMA}_SRVCARD SRVCARD WITH(NOLOCK) ON STLINE.STOCKREF = SRVCARD.LOGICALREF INNER JOIN
            {DATABASE}LG_{FIRMA}_{DONEM}_INVOICE INVOICE WITH(NOLOCK) ON STLINE.INVOICEREF = INVOICE.LOGICALREF
 WHERE     (STLINE.LINETYPE = 4) AND (STLINE.CANCELLED = 0) And STLINE.TRCODE IN (1,6,4)
AND (@_CARIKODU='''' OR CLCARD.CODE LIKE REPLACE(@_CARIKODU,''*'',''%'')) AND (@_MLZKODU='''' OR SRVCARD.CODE LIKE REPLACE(@_MLZKODU,''*'',''%'')) 
AND (STLINE.DATE_ BETWEEN @_BASTAR AND @_BITTAR) @KULLANICI_KOSUL )', 4001, 4000)
*/
      SET @QUERY = @QUERY1 + @QUERY2 + @QUERY3 + @QUERY4 + @QUERY5 + @QUERY6 + @QUERY7 + @QUERY8 + @QUERY9 + @QUERY10 + @QUERY11 + @QUERY12 + @QUERY13 + @QUERY14 + @QUERY15 + @QUERY16 + @QUERY17 + @QUERY18 + @QUERY19 + @QUERY20
      SET @QUERY = REPLACE(REPLACE(REPLACE(@QUERY, '{DATABASE}',@DB), '{FIRMA}',@FIRM), '{DONEM}', @DONEM)
	  SET @QUERY = REPLACE(@QUERY, '{KULLANICI_KOSUL}',@KULLANICI_KOSUL_VALUE)

     EXECUTE sp_executesql @QUERY, @PARAMETRELER, @_BASTAR = @_BASTAR_VALUE, @_BITTAR = @_BITTAR_VALUE, @_CARIKODU = @_CARIKODU_VALUE, @_MLZKODU = @_MLZKODU_VALUE;
END
