 

 -- EXEC EMY_RAPOR_MIZAN '','120','01','20210101','20211201' ,'%%','%%','%%'
ALTER PROCEDURE [dbo].[EMY_RAPOR_MIZAN] @DB NVARCHAR(50), @FIRM NVARCHAR(3), @DONEM NVARCHAR(2) ,
                                      @_BASTAR_VALUE DATETIME,
                                      @_BITTAR_VALUE DATETIME,
                                      @_KOD_VALUE NVARCHAR(50),
                                      @_OZELKOD_VALUE NVARCHAR(50),
                                      @_YETKIKODU_VALUE NVARCHAR(50)
 
AS
BEGIN
     DECLARE @QUERY NVARCHAR(MAX)
     DECLARE @QUERY1 NVARCHAR(MAX)
     DECLARE @QUERY2 NVARCHAR(MAX)
     DECLARE @QUERY3 NVARCHAR(MAX)
     DECLARE @QUERY4 NVARCHAR(MAX)
     DECLARE @QUERY5 NVARCHAR(MAX)
     DECLARE @QUERY6 NVARCHAR(MAX)
     DECLARE @QUERY7 NVARCHAR(MAX)
     DECLARE @QUERY8 NVARCHAR(MAX)
     DECLARE @QUERY9 NVARCHAR(MAX)
     DECLARE @QUERY10 NVARCHAR(MAX)
     DECLARE @QUERY11 NVARCHAR(MAX)
     DECLARE @QUERY12 NVARCHAR(MAX)
     DECLARE @QUERY13 NVARCHAR(MAX)
     DECLARE @QUERY14 NVARCHAR(MAX)
     DECLARE @QUERY15 NVARCHAR(MAX)
     DECLARE @QUERY16 NVARCHAR(MAX)
     DECLARE @QUERY17 NVARCHAR(MAX)
     DECLARE @QUERY18 NVARCHAR(MAX)
     DECLARE @QUERY19 NVARCHAR(MAX)
     DECLARE @QUERY20 NVARCHAR(MAX)

     DECLARE @PARAMETRELER NVARCHAR(MAX)

     SET @PARAMETRELER = N'@_BASTAR DATETIME,@_BITTAR DATETIME,@_KOD NVARCHAR(50),@_OZELKOD NVARCHAR(50),@_YETKIKODU NVARCHAR(50)';

     SET @QUERY1 = ''
     SET @QUERY2 = ''
     SET @QUERY3 = ''
     SET @QUERY4 = ''
     SET @QUERY5 = ''
     SET @QUERY6 = ''
     SET @QUERY7 = ''
     SET @QUERY8 = ''
     SET @QUERY9 = ''
     SET @QUERY10 = ''
     SET @QUERY11 = ''
     SET @QUERY12 = ''
     SET @QUERY13 = ''
     SET @QUERY14 = ''
     SET @QUERY15 = ''
     SET @QUERY16 = ''
     SET @QUERY17 = ''
     SET @QUERY18 = ''
     SET @QUERY19 = ''
     SET @QUERY20 = ''

     SET @QUERY1 = SUBSTRING('select EMFICHE.LOGICALREF as Logicalref,
EMFICHE.DATE_ AS [FisTarihi],EMFICHE.FICHENO as [FisNumarasi],EMFICHE.JOURNALNO as [YevmiyeNo],EMFICHE.SPECODE as [FisOzelKodu],
EMFICHE.CYPHCODE as [FisYetkiKodu],EMFLINE.KEBIRCODE as [AnaHesapKodu],(select DEFINITION_ FROM {DATABASE}LG_{FIRMA}_EMUHACC WHERE CODE=EMFLINE.KEBIRCODE) AS [AnaHesapAciklamasi],EMUHACC.code as [HesapKodu],EMUHACC.DEFINITION_ as [HesapAdi],EMFLINE.DEBIT as [Borc],EMFLINE.CREDIT as [Alacak],EMFLINE.DEBIT - EMFLINE.CREDIT as [Bakiye],
EMFLINE.LINEEXP as [SatirAciklamasi],EMFICHE.GENEXP1 AS [FisAciklamasi]


from 


{DATABASE}LG_{FIRMA}_{DONEM}_EMFICHE EMFICHE,{DATABASE}LG_{FIRMA}_{DONEM}_EMFLINE EMFLINE,{DATABASE}LG_{FIRMA}_EMUHACC EMUHACC

WHERE

EMFICHE.LOGICALREF=EMFLINE.ACCFICHEREF  AND  EMFLINE.ACCOUNTREF=EMUHACC.LOGICALREF AND (@_KOD='''' OR EMUHACC.CODE LIKE REPLACE(@_KOD,''*'',''%''))
AND (@_OZELKOD='''' OR EMUHACC.SPECODE LIKE REPLACE(@_OZELKOD,''*'',''%'')) AND (@_YETKIKODU='''' OR EMUHACC.CYPHCODE LIKE REPLACE(@_YETKIKODU,''*'',''%''))
AND (EMFLINE.DATE_  BETWEEN @_BASTAR AND @_BITTAR)', 1, 4000)

      SET @QUERY = @QUERY1 + @QUERY2 + @QUERY3 + @QUERY4 + @QUERY5 + @QUERY6 + @QUERY7 + @QUERY8 + @QUERY9 + @QUERY10 + @QUERY11 + @QUERY12 + @QUERY13 + @QUERY14 + @QUERY15 + @QUERY16 + @QUERY17 + @QUERY18 + @QUERY19 + @QUERY20
      SET @QUERY = REPLACE(REPLACE(REPLACE(@QUERY, '{DATABASE}',@DB), '{FIRMA}',@FIRM), '{DONEM}', @DONEM)

     EXECUTE sp_executesql @QUERY, @PARAMETRELER, @_BASTAR = @_BASTAR_VALUE, @_BITTAR = @_BITTAR_VALUE, @_KOD = @_KOD_VALUE, @_OZELKOD = @_OZELKOD_VALUE, @_YETKIKODU = @_YETKIKODU_VALUE;
END
