 

-- EXEC  [EMY_RAPOR_CEK_SENET_RAPORU] '','120','01','20200101','20201001' 
ALTER PROCEDURE [dbo].[EMY_RAPOR_CEK_SENET_RAPORU] @DB NVARCHAR(50), @FIRM NVARCHAR(3), @DONEM NVARCHAR(2)  , @_BASTAR_VALUE DATETIME,
                                      @_BITTAR_VALUE DATETIME 
AS
BEGIN
     DECLARE @QUERY NVARCHAR(MAX)
     DECLARE @QUERY1 NVARCHAR(MAX)
     DECLARE @QUERY2 NVARCHAR(MAX)
     DECLARE @QUERY3 NVARCHAR(MAX)
     DECLARE @QUERY4 NVARCHAR(MAX)
     DECLARE @QUERY5 NVARCHAR(MAX)
     DECLARE @QUERY6 NVARCHAR(MAX)
     DECLARE @QUERY7 NVARCHAR(MAX)
     DECLARE @QUERY8 NVARCHAR(MAX)
     DECLARE @QUERY9 NVARCHAR(MAX)
     DECLARE @QUERY10 NVARCHAR(MAX)
     DECLARE @QUERY11 NVARCHAR(MAX)
     DECLARE @QUERY12 NVARCHAR(MAX)
     DECLARE @QUERY13 NVARCHAR(MAX)
     DECLARE @QUERY14 NVARCHAR(MAX)
     DECLARE @QUERY15 NVARCHAR(MAX)
     DECLARE @QUERY16 NVARCHAR(MAX)
     DECLARE @QUERY17 NVARCHAR(MAX)
     DECLARE @QUERY18 NVARCHAR(MAX)
     DECLARE @QUERY19 NVARCHAR(MAX)
     DECLARE @QUERY20 NVARCHAR(MAX)


     SET @QUERY1 = ''
     SET @QUERY2 = ''
     SET @QUERY3 = ''
     SET @QUERY4 = ''
     SET @QUERY5 = ''
     SET @QUERY6 = ''
     SET @QUERY7 = ''
     SET @QUERY8 = ''
     SET @QUERY9 = ''
     SET @QUERY10 = ''
     SET @QUERY11 = ''
     SET @QUERY12 = ''
     SET @QUERY13 = ''
     SET @QUERY14 = ''
     SET @QUERY15 = ''
     SET @QUERY16 = ''
     SET @QUERY17 = ''
     SET @QUERY18 = ''
     SET @QUERY19 = ''
     SET @QUERY20 = ''
	 DECLARE @PARAMETRELER NVARCHAR(MAX)
	 SET @PARAMETRELER = N'@_BASTAR DATETIME,@_BITTAR DATETIME'
     SET @QUERY1 =  'WITH CEKLISTE AS
(
SELECT
CSCARD.LOGICAlREF AS Referans,
DOC,
case WHEN DOC IN(1,2) THEN ''Müşteri'' else ''Kendi'' end as [BelgeTuru],
 CASE WHEN DOC=1 THEN ''Çek'' WHEN DOC=2 THEN ''Senet'' WHEN DOC=3 THEN ''Kendi Çekimiz'' WHEN DOC=4 THEN ''Borç Senedimiz'' ELSE ''Tanımsız'' END AS Tip,
	   CASE	WHEN DOC=1 AND CURRSTAT=1 THEN ''Portfoyde'' 
			WHEN DOC=1 AND CURRSTAT=2 THEN ''Ciro Edildi''
			WHEN DOC=1 AND CURRSTAT=3 THEN ''Teminatta'' 
			WHEN DOC=1 AND CURRSTAT=4 THEN ''Tahsile Verildi'' 
			WHEN DOC=1 AND CURRSTAT=6 THEN ''İade Edildi'' 
			WHEN DOC=1 AND CURRSTAT=8 THEN ''Tahsil Edildi'' 
			WHEN DOC=1 AND CURRSTAT=11 THEN ''Karşılıksız'' 
			WHEN DOC=2 AND CURRSTAT=1 THEN ''Portfoyde''
			WHEN DOC=2 AND CURRSTAT=2 THEN ''Ciro Edildi''
			WHEN DOC=2 AND CURRSTAT=5 THEN ''Tahsilde''
			WHEN DOC=2 AND CURRSTAT=3 THEN ''Teminatta'' 
			WHEN DOC=2 AND CURRSTAT=4 THEN ''Tahsile Verildi'' 
			WHEN DOC=2 AND CURRSTAT=6 THEN ''İade Edildi'' 
			WHEN DOC=2 AND CURRSTAT=7 THEN ''Karşılıksız'' 
			WHEN DOC=2 AND CURRSTAT=8 THEN ''Tahsil Edildi''
			WHEN DOC=3 AND CURRSTAT=6 THEN ''İade Edildi'' 
			WHEN DOC=3 AND CURRSTAT=8 THEN ''Tahsil Edildi'' 
			WHEN DOC=3 AND CURRSTAT=9 THEN ''Kendi Çekimiz'' 
			WHEN DOC=4 AND CURRSTAT=10 THEN ''Borç Senedimiz'' 
			WHEN CURRSTAT =99 THEN ''Henüz Giriliyor''
	ELSE ''Tanımsız'' END AS [SonDurum],
	Durumu=(SELECT TOP 1 STATUS FROM  {DATABASE}LG_{FIRMA}_{DONEM}_CSTRANS WITH (NOLOCK) WHERE CSREF=CSCARD.LOGICALREF  AND DATE_<= @_BITTAR ORDER BY  LOGICALREF DESC),
	Durum_Tanım=(SELECT DEFINITION_ FROM {DATABASE}LG_{FIRMA}_BANKACC WITH (NOLOCK) WHERE LOGICALREF IN (SELECT TOP 1 CARDREF FROM  {DATABASE}LG_{FIRMA}_{DONEM}_CSTRANS WHERE CSREF=CSCARD.LOGICALREF  AND DATE_<= @_BITTAR ORDER BY  LOGICALREF DESC)),
[TCVergiNo]=CSCARD.TAXNR,
	PORTFOYNO AS PortfoyNo,
	NEWSERINO AS SeriNo,
	OWING AS Borclu,
	(SELECT TOP 1 CLCARD.DEFINITION_  
		FROM  {DATABASE}LG_{FIRMA}_{DONEM}_CSTRANS CSTRANS, {DATABASE}LG_{FIRMA}_CLCARD CLCARD 
		WHERE CSTRANS.CARDREF = CLCARD.LOGICALREF  AND CSTRANS.CSREF = CSCARD.LOGICALREF 
		ORDER BY CSTRANS.LOGICALREF DESC) AS [Ciro Eden Keşideci], 
	MUHABIR AS [Muhabir],
	CSCARD.CITY AS [Sehir],
	YEAR (DUEDATE) AS [VadeYil],
	CASE MONTH(DUEDATE) WHEN 1 THEN ''01.OCAK'' WHEN 2 THEN ''02.SUBAT'' WHEN 3 THEN ''03.MART'' WHEN 4 THEN ''04.NISAN'' WHEN 5 THEN ''05.MAYIS'' WHEN 6 THEN ''06.HAZIRAN'' WHEN 7 THEN ''07.TEMMUZ''
WHEN 8 THEN ''08.AGUSTOS'' WHEN 9 THEN ''09.EYLUL'' WHEN 10 THEN ''10.EKIM'' WHEN 11 THEN ''11.KASIM'' WHEN 12 THEN ''12.ARALIK'' ELSE '''' END AS [VadeAy],
	convert(varchar(25), DUEDATE, 103)     AS [Vade],
	SETDATE AS [GirisTarihi], '
	SET @QUERY2 =  '
YEAR (SETDATE) AS [GirisYil],
	CASE MONTH(SETDATE) WHEN 1 THEN ''01.OCAK'' WHEN 2 THEN ''02.SUBAT'' WHEN 3 THEN ''03.MART'' WHEN 4 THEN ''04.NISAN'' WHEN 5 THEN ''05.MAYIS'' WHEN 6 THEN ''06.HAZIRAN'' WHEN 7 THEN ''07.TEMMUZ''
WHEN 8 THEN ''08.AGUSTOS'' WHEN 9 THEN ''09.EYLUL'' WHEN 10 THEN ''10.EKIM'' WHEN 11 THEN ''11.KASIM'' WHEN 12 THEN ''12.ARALIK'' ELSE '''' END AS [GirisAyi],
--------
	CASE WHEN DOC IN(1,2) THEN (CASE WHEN TRCURR IN (0,160) THEN AMOUNT ELSE TRNET END) ELSE (CASE WHEN TRCURR IN (0,160) THEN AMOUNT ELSE TRNET END)*-1 END  AS [Tutar],
	CASE WHEN TRCURR = 0 THEN ''TL'' 
		 ELSE (Select CURCODE  FROM L_CURRENCYLIST WHERE CURTYPE = CSCARD.TRCURR AND FIRMNR = {FIRMA}) END AS Doviz,
 --COALESCE((SELECT CODE FROM  {DATABASE}LG_{FIRMA}_PROJECT WHERE LOGICALREF=(SELECT PROJECTREF FROM   {DATABASE}LG_{FIRMA}_{DONEM}_CSROLL WHERE LOGICALREF= (SELECT MAX(ROLLREF) FROM   {DATABASE}LG_{FIRMA}_{DONEM}_CSTRANS WHERE CSREF=CSCARD.LOGICALREF))), PRJ.CODE,''BOŞ'') [ProjeKodu],
[CekBankaAdi]=CSCARD.BANKNAME,
 	IBAN=CSCARD.IBAN,
 	[CekBankaHesapNo]=cscard.BNACCOUNTNO,
 	[CekBankaSubeKodu]=CSCARD.BNBRANCHNO 
	--,LG_SLSMAN.DEFINITION_ AS SatisElemani
	,(SELECT TOP 1 CLCARD.SPECODE  
		FROM  {DATABASE}LG_{FIRMA}_{DONEM}_CSTRANS CSTRANS, {DATABASE}LG_{FIRMA}_CLCARD CLCARD 
		WHERE CSTRANS.CARDREF = CLCARD.LOGICALREF  AND CSTRANS.CSREF = CSCARD.LOGICALREF 
		ORDER BY CSTRANS.LOGICALREF DESC)  AS SatisElemani
FROM  {DATABASE}LG_{FIRMA}_{DONEM}_CSCARD CSCARD WITH(NOLOCK) 
LEFT JOIN LG_SLSMAN ON LG_SLSMAN.LOGICALREF = CSCARD.SALESMANREF AND LG_SLSMAN.FIRMNR = {FIRMA}

)
SELECT 
Referans,
 Durum= CASE		
			WHEN DOC=1 AND Durumu=1 THEN ''Portfoyde'' 
			WHEN DOC=1 AND Durumu=2 THEN ''Ciro Edildi''
			WHEN DOC=1 AND Durumu=3 THEN ''Teminatta'' 
			WHEN DOC=1 AND Durumu=4 THEN ''Tahsile Verildi'' 
			WHEN DOC=1 AND Durumu=6 THEN ''İade Edildi'' 
			WHEN DOC=1 AND Durumu=8 THEN ''Tahsil Edildi'' 
			WHEN DOC=1 AND Durumu=11 THEN ''Karşılıksız'' 
			WHEN DOC=2 AND Durumu=1 THEN ''Portfoyde''
			WHEN DOC=2 AND Durumu=2 THEN ''Ciro Edildi''
			WHEN DOC=2 AND Durumu=5 THEN ''Tahsilde''
			WHEN DOC=2 AND Durumu=3 THEN ''Teminatta'' 
			WHEN DOC=2 AND Durumu=4 THEN ''Tahsile Verildi'' 
			WHEN DOC=2 AND Durumu=6 THEN ''İade Edildi'' 
			WHEN DOC=2 AND Durumu=7 THEN ''Karşılıksız'' 
			WHEN DOC=2 AND Durumu=8 THEN ''Tahsil Edildi''
			WHEN DOC=3 AND Durumu=6 THEN ''İade Edildi'' 
			WHEN DOC=3 AND Durumu=8 THEN ''Tahsil Edildi'' 
			WHEN DOC=3 AND Durumu=9 THEN ''Kendi Çekimiz'' 
			WHEN DOC=4 AND Durumu=10 THEN ''Borç Senedimiz'' 
			WHEN Durumu =99 THEN ''Henüz Giriliyor'' END,
			[BelgeTuru],Tip,[SonDurum],PortfoyNo,SeriNo,
CASE WHEN DOC=3 THEN [CekBankaAdi] ELSE Borclu END AS Borclu,'
SET @QUERY3 =  '
[CiroEdenKesideci]=CASE		
			WHEN DOC=1 AND Durumu=1 THEN [Ciro Eden Keşideci]
			WHEN DOC=1 AND Durumu=2 THEN [Ciro Eden Keşideci]
			WHEN DOC=1 AND Durumu=3 THEN Durum_Tanım
			WHEN DOC=1 AND Durumu=4 THEN Durum_Tanım
			WHEN DOC=1 AND Durumu=6 THEN [Ciro Eden Keşideci] 
			WHEN DOC=1 AND Durumu=8 THEN [Ciro Eden Keşideci] 
			WHEN DOC=1 AND Durumu=11 THEN [Ciro Eden Keşideci]  
			WHEN DOC=2 AND Durumu=1 THEN [Ciro Eden Keşideci]
			WHEN DOC=2 AND Durumu=2 THEN [Ciro Eden Keşideci]
			WHEN DOC=2 AND Durumu=5 THEN Durum_Tanım
			WHEN DOC=2 AND Durumu=3 THEN Durum_Tanım 
			WHEN DOC=2 AND Durumu=4 THEN Durum_Tanım 
			WHEN DOC=2 AND Durumu=6 THEN [Ciro Eden Keşideci]
			WHEN DOC=2 AND Durumu=7 THEN [Ciro Eden Keşideci] 
			WHEN DOC=2 AND Durumu=8 THEN [Ciro Eden Keşideci]
			WHEN DOC=3 AND Durumu=6 THEN [Ciro Eden Keşideci] 
			WHEN DOC=3 AND Durumu=8 THEN [Ciro Eden Keşideci] 
			WHEN DOC=3 AND Durumu=9 THEN [Ciro Eden Keşideci] 
			WHEN DOC=4 AND Durumu=10 THEN [Ciro Eden Keşideci] 
			WHEN Durumu =99 THEN [Ciro Eden Keşideci] END,
[TcVergiNo],			
		[CekBankaAdi],
 			IBAN,
 			[CekBankaHesapNo],
 			[CekBankaSubeKodu],
			Muhabir,Sehir,[VadeYil],[VadeAy],Vade,[GirisTarihi],[GirisYil],[GirisAyi],Tutar,Doviz,SatisElemani
FROM CEKLISTE WHERE ISNULL(Durumu,0) > 0  and SonDurum   in (''Kendi Çekimiz'',''Portfoyde'',''Tahsile Verildi'')  ' 




 

     SET @QUERY = @QUERY1 + @QUERY2 + @QUERY3 + @QUERY4 + @QUERY5 + @QUERY6 + @QUERY7 + @QUERY8 + @QUERY9 + @QUERY10 + @QUERY11 + @QUERY12 + @QUERY13 + @QUERY14 + @QUERY15 + @QUERY16 + @QUERY17 + @QUERY18 + @QUERY19 + @QUERY20
      SET @QUERY = REPLACE(REPLACE(REPLACE(@QUERY, '{DATABASE}',@DB), '{FIRMA}',@FIRM), '{DONEM}', @DONEM)
	 -- select @QUERY
     EXECUTE sp_executesql @QUERY, @PARAMETRELER, @_BASTAR = @_BASTAR_VALUE, @_BITTAR = @_BITTAR_VALUE

     
END
