 

ALTER PROCEDURE [dbo].[EMY_RAPOR_HAREKETSIZ_CARI] @DB NVARCHAR(50), @FIRM NVARCHAR(3), @DONEM NVARCHAR(2) ,
                                      @_BASTAR_VALUE DATETIME,
                                      @_BITTAR_VALUE DATETIME
 
AS
BEGIN
     DECLARE @QUERY NVARCHAR(MAX)
     DECLARE @QUERY1 NVARCHAR(MAX)
     DECLARE @QUERY2 NVARCHAR(MAX)
     DECLARE @QUERY3 NVARCHAR(MAX)
     DECLARE @QUERY4 NVARCHAR(MAX)
     DECLARE @QUERY5 NVARCHAR(MAX)
     DECLARE @QUERY6 NVARCHAR(MAX)
     DECLARE @QUERY7 NVARCHAR(MAX)
     DECLARE @QUERY8 NVARCHAR(MAX)
     DECLARE @QUERY9 NVARCHAR(MAX)
     DECLARE @QUERY10 NVARCHAR(MAX)
     DECLARE @QUERY11 NVARCHAR(MAX)
     DECLARE @QUERY12 NVARCHAR(MAX)
     DECLARE @QUERY13 NVARCHAR(MAX)
     DECLARE @QUERY14 NVARCHAR(MAX)
     DECLARE @QUERY15 NVARCHAR(MAX)
     DECLARE @QUERY16 NVARCHAR(MAX)
     DECLARE @QUERY17 NVARCHAR(MAX)
     DECLARE @QUERY18 NVARCHAR(MAX)
     DECLARE @QUERY19 NVARCHAR(MAX)
     DECLARE @QUERY20 NVARCHAR(MAX)

     DECLARE @PARAMETRELER NVARCHAR(MAX)

     SET @PARAMETRELER = N'@_BASTAR DATETIME,@_BITTAR DATETIME';

     SET @QUERY1 = ''
     SET @QUERY2 = ''
     SET @QUERY3 = ''
     SET @QUERY4 = ''
     SET @QUERY5 = ''
     SET @QUERY6 = ''
     SET @QUERY7 = ''
     SET @QUERY8 = ''
     SET @QUERY9 = ''
     SET @QUERY10 = ''
     SET @QUERY11 = ''
     SET @QUERY12 = ''
     SET @QUERY13 = ''
     SET @QUERY14 = ''
     SET @QUERY15 = ''
     SET @QUERY16 = ''
     SET @QUERY17 = ''
     SET @QUERY18 = ''
     SET @QUERY19 = ''
     SET @QUERY20 = ''

     SET @QUERY1 = SUBSTRING('
	 SELECT   {DATABASE}LG_{FIRMA}_CLCARD.LOGICALREF,  CASE WHEN ACTIVE=0 THEN ''Kullanımda'' WHEN ACTIVE=1 THEN ''Kullanımdışı'' END AS [Statu],CODE as ''CariHesapKodu'', DEFINITION_ as ''CariHesapUnvani'', SPECODE AS ''OzelKod'',
SPECODE2 AS [OzelKod2]
,SPECODE3 AS [OzelKod3]
,SPECODE4 AS [OzelKod4]
,SPECODE5 AS [OzelKod5],
CYPHCODE AS ''YetkiKodu'' ,ADDR1 AS ''Adres1'',ADDR2 AS ''Adres2'',TELNRS1 AS ''Telefon1'',TELNRS2 AS ''Telefon2'',
(SELECT max(DATE_)  from {DATABASE}LG_{FIRMA}_{DONEM}_CLFLINE  WHERE CLIENTREF={DATABASE}LG_{FIRMA}_CLCARD.LOGICALREF) AS ''SonHareketTarihi''
	 
	  
FROM         {DATABASE}LG_{FIRMA}_CLCARD
WHERE   CODE  LIKE ''120%'' AND (LOGICALREF > 1) AND (LOGICALREF NOT IN
                          (SELECT     CLIENTREF
                            FROM          {DATABASE}LG_{FIRMA}_{DONEM}_CLFLINE
                            WHERE      (CANCELLED = ''0'') AND DATE_ BETWEEN @_BASTAR AND @_BITTAR))', 1, 4000)

      SET @QUERY = @QUERY1 + @QUERY2 + @QUERY3 + @QUERY4 + @QUERY5 + @QUERY6 + @QUERY7 + @QUERY8 + @QUERY9 + @QUERY10 + @QUERY11 + @QUERY12 + @QUERY13 + @QUERY14 + @QUERY15 + @QUERY16 + @QUERY17 + @QUERY18 + @QUERY19 + @QUERY20
      SET @QUERY = REPLACE(REPLACE(REPLACE(@QUERY, '{DATABASE}',@DB), '{FIRMA}',@FIRM), '{DONEM}', @DONEM)

     EXECUTE sp_executesql @QUERY, @PARAMETRELER, @_BASTAR = @_BASTAR_VALUE, @_BITTAR = @_BITTAR_VALUE;
END
