@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Tiger.TigerFirmalar.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new E_Maliyet.Tiger.TigerFirmalarGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>