@model E_Maliyet.Membership.ResetPasswordEmailModel

<html>
<head>
    <title>Reset your E_Maliyet password</title>
</head>
<body>
    <p>@Model.DisplayName,</p>

    <p>We received a request to change your password on E_Maliyet.</p>

    <p>Click the link below to set a new password:</p>

    <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>

    <p>If you don't want to change your password, you can ignore this email.</p>

    Thanks,
    The "E_Maliyet" Team
</body>
</html>