@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.KullaniciRaporFiltreleri.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new E_Maliyet.Administration.KullaniciRaporFiltreleriGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>