@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Maliyet.MaliyetDetayToplam.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new E_Maliyet.Maliyet.MaliyetDetayToplamGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>